:root {
	--btn: #3a0ca3;
	--accent: #D72483;
}

body,
html {
	font-family: Hack, monospace;
	margin: 0;
	padding: 0;
}

body.index-list {
	padding: 50px;
}

main {
	line-height: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 1.2rem;
}

ul li {
	margin-bottom: 0.5rem;
}

span.fav {
	color: var(--accent);
}

.btn,
button {
	text-decoration: none;
	background: var(--btn);
	color: white;
	border-radius: 0;
	font-size: 16px;
	line-height: 28px;
	padding: 0 20px;
	border: 0;
	margin: 10px;
	cursor: pointer;
	border: 1px solid var(--btn);
	transition: all 200ms linear;
	text-transform: lowercase;
	font-family: Hack, monospace;
}

.btn:hover,
button:hover,
.btn:focus,
button:focus {
	background: white;
	border: 1px solid var(--btn);
	color: var(--btn);
}

.btn.back {
	background-color: black;
	border: 2px solid white;
	mix-blend-mode: exclusion;
	position: absolute;
	bottom: 1rem;
	left: 0.5rem;
	line-height: 30px;
	padding: 0 30px;
	font-size: 18px;
	font-weight: 600;
}

.btn.back:hover, .btn.back:focus {
	background-color: white;
	color: black;
	border: 2px solid black;
}

a {
	color: black;
	text-decoration: underline;
}
a:hover, a:focus {
	color: var(--btn);
}